body {
  margin: 0;
  height: 100vh;
}

.drawer-items {
  min-width: 400px;
}

.world-map {
  height: 60vh;
}

.countries-autocomplete-holder {
  padding: 16px 8px;
  max-width: 400px;
}

.countries-answer-buttons-holder {
  padding: 16px 8px;
}

.country-answer-button {
  width: 200px;
  height: 80px;
}

.country-answer-button--label {
  text-transform: none;
  line-height: 1.2;
}

.answer-caption-container {
  text-align: center;
}

.final-score-container {
  padding: 0px;
  text-align: center;
}

.final-score {
  padding: 8px;
}

.final-score-verdict {
  padding: 8px;
}

@media screen and (max-width: 500px) {
  .country-answer-button {
    width: 150px;
    height: 60px;
  }

  .countries-answer-buttons-holder {
    padding: 8px 0px 8px 0px;
  }
}

@media screen and (max-height: 670px) {
  .world-map {
    height: 50vh;
  }
}