body {
  margin: 0;
  height: 100vh;
}

.hidden {
  visibility: hidden;
}

.drawer-items {
  min-width: 400px;
}

.countries-autocomplete-holder {
  padding: 16px 8px;
  max-width: 400px;
}

.countries-answer-buttons-holder {
  padding: 16px 8px;
}

.country-answer-button {
  width: 200px;
  height: 80px;
}

.country-answer-button--label {
  text-transform: none;
  line-height: 1.2;
}

.answer-caption-container {
  text-align: center;
}

.final-score-container {
  padding: 0px;
  text-align: center;
}

.final-score {
  padding: 2px;
}

.final-score-verdict {
  padding-top: 8px;
  padding-bottom: 24px;
}

.final-score-button {
  width: 150px;
}

.gametype-selector-container {
  padding: 16px 8px;
}

.gametype-selector-card {
  width: 300px;
}

.gametype-selector-card-media {
  height: 150px;
}

@media screen and (max-width: 500px) {
  .country-answer-button {
    width: 150px;
    height: 60px;
  }

  .countries-answer-buttons-holder {
    padding: 8px 0px 8px 0px;
  }
}

.world-map {
  height: 70vh;
}

@media screen and (max-height: 700px) {
  .world-map {
    height: 58vh;
  }
}

@media screen and (max-height: 600px) {
  .world-map {
    height: 50vh;
  }
}

.pulsate {
  animation: pulse 200ms ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.7);
  }
}